<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
    <targets>
      <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target name="logfile" xsi:type="File" fileName="${logDirectory}/${event-context:item=userId}.csv">
          <layout xsi:type="CSVLayout">
            <column name="Time" layout="${longdate}" />
            <column name="Level" layout="${level}" />
            <column name="Event" layout="${logger}" />
            <column name="Message" layout="${message}" />
          </layout>
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="file" />
    </rules>
  </nlog>
  <entityFramework>    
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings><add name="Model1" connectionString="data source=XP8\SQLEXPRESS;initial catalog=PostNew;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>